     <style>
        div {
             border: 2px solid #1f1bff;
             margin: 10px;
             padding: 5px 30px;
             border-radius: 50%;
             box-shadow: 10px 12px #eb0000;
        }
        img {
            width: 50px;
            float: left;
            border-radius: 50%;
        }

        div h3 {
            font-family: sans-serif;
            text-shadow: 10px 5px #999;

        }
        body {
                text-align: center;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                background: linear-gradient(to rigth);


        }



    </style>